@model IEnumerable<MVC_SQL_Project.Models.TimeSheet>
@{
    ViewBag.Title = "Grid";
    WebGrid grid = new WebGrid(canPage: true, rowsPerPage: 5);
    grid.Bind(source: Model);
}

<h2>Grid</h2>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            @grid.GetHtml(
           htmlAttributes: new { @id = "WebGrid1", @class = "table table-bordered" },
           columns: grid.Columns(
               grid.Column("Id", "Id"),
               grid.Column("Story", "Story"),
               grid.Column("IT", "IT#"),
               grid.Column("Description", "Task Description"),
               grid.Column("Status", "Status")))
        </div>
    </div>
</div>